{# app/Resources/views/products/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - New Product
{% endblock %}
{% block body %}
    <h1>Add Product</h1>
{% endblock %}
